* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #262627;
    font-family: "sk-modernistregular";
    transition: 500ms ease;
    min-height: 100vh;
    background-image: url("/images/base-bg-2.png");
    background-size: cover;
    background-position: top left;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -1.5px;
    margin: 0 0 20px;
}
h2 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -0.5px;
    margin: 0 0 20px;
}
h3 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 0px;
    margin: 0 0 20px;
}
h4 {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin: 0 0 15px;
}
h5 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0px;
    margin: 0 0 10px;
}
h6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin: 0;
}
.subtitle-1 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.15px;
}
.subtitle-2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15px;
}
.body-1,
label {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.25px;
    margin: 0 0 5px;
}
.body-2 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
}
button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
    cursor: pointer;
    transition: 500ms ease;
}
.caption {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
}
.overline {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.form-ctr {
    display: flex;
    background: url("/images/login-1.png"), white;
    background-size: cover;
}
.rgtr-form,
.login-form,
.reset-ctr {
    width: 65%;
    background: white;
    display: flex;
    height: 100vh;
    vertical-align: top;
    flex-direction: column;
    padding: 40px 13%;
    justify-content: center;
}
.rgtr-display,
.login-display {
    width: 35%;
    display: flex;
    height: 100vh;
    vertical-align: top;
    flex-direction: column;
}
.rgtr-display .nav-sidebar,
.login-display .nav-sidebar {
    background: transparent;
}
.rgtr-display .nav-sidebar .logo,
.login-display .nav-sidebar .logo {
    color: #262627;
}
.rgtr-ctr,
.login-ctr {
    max-width: 360px;
    margin: 0 auto;
}
.rgtr-ctr h5,
.login-ctr h5,
.reset-ctr h5 {
    margin: 0;
    line-height: 33px;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    margin-bottom: 40px;
    height: auto;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.form a {
    font-size: 14px;
    color: #262627;
    margin: -12px 0 20px;
}
.rgtr-form .form,
.login-form .form,
.reset-ctr .form {
    background: transparent;
    box-shadow: none;
    padding: 40px 0 0;
    margin-bottom: 30px;
    min-width: 360px;
}
.pw-reset-form {
    display: flex;
    flex-direction: column;
}
.pw-reset-form .body-2 {
    margin: 0 0 35px;
}

.rgtr-form .form input,
.login-form .form input,
.reset-ctr .form input {
    margin: 3px 0 20px;
}
input,
textarea {
    border: 1px solid;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 15px;
    border-color: rgb(204, 204, 204);
    transition: 500ms ease;
    line-height: 20px;
    font-family: "sk-modernistregular";
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: rgb(190, 190, 190);
    line-height: 20px;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
    border-color: #262627;
}

button {
    border: 1px solid;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #262627;
    color: white;
    border-color: #262627;
}
button:hover {
    background: #5dcf04;
    border-color: #5dcf04;
}

.send-email {
    display: flex;
}
.send-email .cancel {
    margin: 10px 20px 0 0;
    padding: 15px 10px;
    font-weight: 300;
    background: white;
    color: #262627;
    border: 1px solid #262627;
    text-decoration: none;
    font-size: 16px;
}
.send-email button {
    margin: 10px 0 0;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 300;
    width: auto;
}

.login-link {
    position: absolute;
    top: 0;
    padding: 25px 20px 10px;
    text-align: left;
    right: 0;
}
.login-link .body-1 {
    font-size: 14px;
}
.login-link a {
    background: transparent;
    border: 1px solid #262627;
    color: #262627;
    cursor: pointer;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 2px;
    padding: 6px 8px;
    transition: 500ms ease;
}
.login-link a:hover {
    background: #262627;
    color: white;
}

main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.main-ctr {
    display: flex;
    flex: 1 1 0px;
    min-height: 1px;
}
.nav-sidebar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left 250ms ease-out, transform 250ms ease-out;
    width: 240px;
    height: 100vh;
    background: #262627;
    color: white;
    position: fixed;
}
.nav-sidebar {
    position: fixed;
}
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    padding-left: 240px;
    height: auto;
    min-height: auto;
}

.logo {
    font-size: 30px;
    padding: 25px 15px 10px;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: -webkit-fill-available;
    justify-content: space-between;
}
.nav-menu-top,
.nav-menu-footer {
    display: flex;
    flex-direction: column;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    transition: 500ms ease;
}
.nav-menu a:hover {
    color: #ffcb51;
}

/* ----------- .MAIN ----------- */
.main .title {
    /* height: 60px; */
    text-align: center;
}
.main .title h2 {
    padding: 50px 0 0;
}
.grid-ctr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

/* ----------- IDEA BOARD ----------- */
.add-idea {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    cursor: pointer;
    top: 20px;
}
.plus {
    background: #262627;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.15) 0px 1px 0px,
        rgba(17, 17, 26, 0.2) 0px 0px 5px;
    transition: 500ms ease;
}
.plus-h {
    height: 2px;
    width: 16px;
    background: white;
    position: absolute;
}
.plus-v {
    width: 2px;
    height: 16px;
    background: white;
    position: absolute;
}
.plus:hover {
    background: #5dcf04;
    /* transform: translateY(-5px); */
    /* box-shadow: rgba(17, 17, 26, 0.15) 0px 10px 15px,
        rgba(17, 17, 26, 0.05) 0px 0px 18px; */
}
/* .plus:hover .plus-h,
.plus:hover .plus-v {
    background: #5dcf04;
    transition: 500ms ease;
} */

/* ----------- TAG FILTERING ----------- */
.ibd-tags-ctr {
    text-align: center;
    margin-bottom: 30px;
}
.ibd-tags {
    background: white;
    border: 1px solid #262627;
    color: #262627;
    transition: 500ms ease;
    cursor: pointer;
    margin: 0 5px 5px;
}
.ibd-tags:hover {
    background: #262627;
    color: white;
    border-color: #262627;
}

/* ----------- IDEA CARD ----------- */
.idea-card {
    background: white;
    border-radius: 4px;
    padding: 10px 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: 500ms ease;
    cursor: pointer;
}
.idea-card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(17, 17, 26, 0.15) 0px 10px 15px,
        rgba(17, 17, 26, 0.05) 0px 0px 18px;
}
.idea-card a {
    color: #262627;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.card-creator .body-2 {
    font-size: 12px;
}
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title {
    margin-top: 35px;
}
.card-title h5 {
    font-size: 30px;
}
.card-votes {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    width: 100px;
    height: 35px;
}

.heart {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.heart:before {
    top: -5px;
    left: 0;
}

.heart:after {
    left: 5px;
    top: 0;
}
.card-votes-up {
    background: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    justify-content: flex-end;
}
.card-votes-up .heart:before,
.card-votes-up .heart:after {
    background-color: #5dcf04;
}
.card-votes-up .heart {
    background: #5dcf04;
}
.card-votes-down {
    background: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    justify-content: flex-end;
}
.card-votes-down .heart {
    background: #ef3a3a;
    transform: rotate(135deg);
}
.card-votes-down .heart:before,
.card-votes-down .heart:after {
    background-color: #ef3a3a;
}
.card-votes p {
    margin: 5px 0 5px 5px;
    font-size: 16px;
    font-weight: 800;
}
.card-stack {
    display: flex;
}
.card-stack .caption {
    margin-right: 10px;
}

.modal {
    transition: 500ms ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-ctr {
    width: 90%;
    max-width: 650px;
    height: 90vh;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 4px;
    padding: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.2) 0px 3px 8px;
    overflow-x: hidden;
}
.modal .overlay {
    transition: 500ms ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}
.modal .form {
    border-radius: 0;
    margin: 0;
    justify-content: center;
    box-shadow: none;
    height: -webkit-fill-available;
}
.modal .form textarea {
    min-height: 100px;
}
.idea-expanded .modal-ctr {
    padding: 40px 0 0;
}
.idea-expanded .idea-data {
    padding: 0 40px;
}
.idea-expanded h3 {
    margin: 30px 0 10px;
}
.idea-expanded .card-top {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
}
.idea-expanded .card-creator .body-2 {
    font-size: 13px;
}
.idea-expanded .card-age .caption {
    font-size: 13px;
    padding: 10px 0;
}
.idea-expanded .card-content {
    padding: 1px 0;
}
.idea-expanded .card-content p {
    font-size: 24px;
    line-height: 35px;
}
.idea-expanded .card-content span {
    display: block;
    padding-bottom: 10px;
    color: #a7a7a7;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}
.idea-expanded .card-stack {
    padding-top: 13px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 3px;
    display: block;
}
.idea-expanded .card-stack .stack-heading {
    font-size: 24px;
    line-height: 35px;
}
.idea-expanded .stack-box {
    display: flex;
}
.idea-expanded .stack-box .stack-p {
    margin: 10px 20px 10px 0;
    line-height: 20px;
    height: 30px;
    font-size: 20px;
}
.stack-rendered {
    margin: -20px 0 20px;
}
.stack-rendered .stack-box .stack-p {
    margin: 0 10px 0 0;
    padding: 10px;
    background: #f3f3f3;
    display: inline-block;
}
.idea-expanded .card-stack span {
    display: block;
    padding-bottom: 10px;
    color: #a7a7a7;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}

.colab-button {
    width: 60%;
    margin: 0 auto;
}
.colab-button button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
}
.colab-button .black {
    background: #262627;
    border: none;
}
.colab-button .black:hover,
.colab-button .grey:hover,
.colab-button .green:hover {
    border: none;
}
.colab-button .grey {
    background: #f3f3f3;
    color: #262627;
    cursor: normal;
    border: none;
}
.idea-expanded .card-votes {
    margin: 20px 0;
    width: 170px;
}
.idea-expanded .card-votes-up,
.idea-expanded .card-votes-down {
    width: 70px;
    justify-content: flex-start;
}
.idea-expanded .heart {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}
.idea-expanded .heart:before {
    top: -10px;
}
.idea-expanded .heart:after {
    left: 10px;
}
.idea-expanded .heart:before,
.idea-expanded .heart:after {
    height: 20px;
    width: 20px;
}
.idea-expanded .card-votes p {
    font-size: 24px;
    margin: 5px 0 5px 15px;
}
.idea-expanded .card-comments {
    background: #f3f3f3;
    padding: 20px 80px;
    margin: 40px 0 0;
}
.idea-expanded .card-comments-heading {
    margin: 20px 0;
}
.idea-expanded .card-comments-heading span {
    display: block;
    padding-bottom: 10px;
    color: #a7a7a7;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}
.idea-expanded .card-comments .comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}
.idea-expanded .card-comments .comment:last-child {
    border-bottom: none;
}

.idea-expanded .card-comments .comment p {
    margin: 0;
    font-weight: 600;
}
.idea-expanded .card-comments .comment p.cmt-name {
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.2px;
    margin: 0 0 10px;
}
.idea-expanded .card-comments textarea {
    width: 100%;
    margin-bottom: 50px;
}

.close-button {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
}
.close-button span {
    background: #28282a;
    display: block;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -2px;
    overflow: hidden;
    transition: 500ms ease;
}
.close-button .close-modal-left {
    transform: rotate(45deg) translate(10px, 10px);
}
.close-button .close-modal-right {
    transform: rotate(-45deg) translate(-10px, 10px);
}
.close-button:hover span {
    background: #ef3a3a;
}

/* -------------- CREATE IDEA FORM ---------- */

.form h4 {
    margin: 0 0 30px;
}
.form label {
    font-weight: 300;
    font-size: 16px;
    color: rgb(38, 38, 39);
}
.form input {
    margin: 3px 0 30px;
}
.form .input-ctr {
    display: flex;
    flex-direction: column;
}
.form button {
    margin: 10px 0 0;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
    width: 280px;
}

.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coming-soon-overlay {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: calc(100% - 240px);
    margin-left: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.72);
    z-index: 9999;
}
.coming-soon-overlay .coming-soon {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
}

.horizontal-ctr {
    padding: 0 20px;
}

@media screen and (min-width: 1300px) {
    .grid-ctr {
        /* grid-template-columns: repeat(4, 1fr); */
        padding: 20px 40px;
    }
}
@media screen and (max-width: 950px) {
    .grid-ctr {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 40px;
    }
    .nav-sidebar {
        position: fixed;
    }
    .container {
        padding-left: 240px;
        height: auto;
        min-height: auto;
    }
    .main {
        padding-bottom: 60px;
    }
}
